{% extends 'core/base.html' %}

{% block title %}
    Ejercicios: crear categoría de ejercicios
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-8">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h1 class="card-title mb-1">
                        Categoría de ejercicios: creación
                    </h1>
                </div>
            </div>
            <div class="mt-3 text-center"> <!-- Espacio entre la tarjeta y el contenido, centrado -->
                
                <!-- Contenido -->
                {#<p>Contenido</p>#}
                
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Error:</strong>
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-secondary">Guardar</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <a href="{% url 'Clase:home' %}" class="btn btn-secondary btn-lg">Volver a Clase</a>
</div>
{% endblock content %}
