{% extends 'core/base.html' %}

{% block title %}
    CICLOS
{% endblock title %}

{% block content %}
    {% include 'core/components/masthead.html' with titulo="Ciclo 3" texto="2do fisiaño" boton="Go"%}
    <div class="d-flex justify-content-center align-items-center vh-100">
        
        <div class="container">
            {% for ciclo in ciclos %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ ciclo.nombre }}</h2>
                    </div>
                </div>
                {% for curso in ciclo.cursos.all %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ curso.nombre }}</h3>
                            <p>Profesor: {{ curso.profesor }}</p>
                            <ul>
                                {% for tema in curso.temas.all %}
                                    <li>{{ tema.nombre }}</li>
                                    <ul>
                                        {% for ejercicio in tema.ejercicios.all %}
                                            <li>{{ ejercicio }}</li>
                                            <li>{{ ejercicio.solucion }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
