{% extends 'core/base.html' %}

{% block title %}
    CICLOS
{% endblock title %}

{% block content %}
    {% include 'core/components/masthead.html' with titulo="Ciclo 3" texto="2do fisiaño" boton="Go"%}
    <div class="d-flex justify-content-center align-items-center vh-100">
        
        <div class="container">
            <!-- Sección Ejercicios -->
            <div class="btn-group d-flex flex-column mb-4" role="group">
                <h3>Ejercicios</h3>
                <a href="{% url 'Clase:ejerciciocategoria_create' %}" class="btn btn-primary flex-fill mb-3">Sube tus ejercicios</a>
                <a href="{% url 'Clase:ejerciciocategoria_list' %}" class="btn btn-primary flex-fill mb-3">Listar ejercicios</a>
            </div>
            <!-- Sección Soluciones -->
            <div class="btn-group d-flex flex-column mb-4" role="group">
                <h3>Soluciones</h3>
                <a href="{% url 'Clase:solucion_create' %}" class="btn btn-primary flex-fill mb-3">Sube tus soluciones</a>
                <a href="{% url 'Clase:solucion_list' %}" class="btn btn-primary flex-fill mb-3">Listar soluciones</a>
            </div>
            <!-- Botón Volver a Inicio -->
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'core:home' %}" class="btn btn-secondary btn-lg">Volver a inicio</a>
            </div>
        </div>
            {% for ciclo in ciclos %}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h2 class="card-title">{{ ciclo.nombre }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                {% for curso in ciclo.cursos.all %}
                    <div class="row">
                        <div class="col-md-12">
                            <h3>{{ curso.nombre }}</h3>
                            <p>Profesor: {{ curso.profesor }}</p>
                            <h4>Temas</h4>
                            <ul>
                                {% for tema in curso.temas.all|dictsort:"nombre" %}
                                    <li>{{ tema.nombre }}</li>
                                    <ul>
                                        {% for ejercicio in tema.ejercicios.all %}
                                            <li>{{ ejercicio }}</li>
                                            <li>{{ ejercicio.solucion }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}