{% extends 'core/base.html' %}

{% block title %}
    Solución: Borrar una solución
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-md-8">
            <div class="card bg-dark text-white">
                <div class="card-body">
                    <h1 class="card-title mb-1">
                        Solución: BORRAR
                    </h1>
                </div>
            </div>
            <div class="mt-3 text-center">
                
                <p class="fs-5 fst-italic">¿Confirma eliminar la solución: "{{ object.id }}"?</p>
                
                <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
                
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center mt-4">
    <a href="{% url 'Clase:home' %}" class="btn btn-secondary btn-lg">Volver a Clase</a>
</div>
{% endblock content %}
